/* COLOR ============================== */

$color-primary: #6A5ACD;
$color-secondary: #37298A;
$color-tertiary-red: #CD4668;
$color-tertiary-purple: rgba(106,90,205,0.6);
$color-dark-grey: #8D9096;
$color-middle-grey: #D2D2D2;
$color-light-grey: #F3F4F4;
$color-deep-dark: #444C60;





/* BORDER ============================== */ 
